{
    attributes = (
        {
            allowsNull = Y; 
            columnName = augmentedAttribute; 
            name = augmentedAttribute; 
            prototypeName = intNumber; 
        }, 
        {allowsNull = N; name = id; prototypeName = id; }
    ); 
    attributesUsedForLocking = (id); 
    className = "com.wounit.model.AugmentedEntity"; 
    classProperties = (augmentedAttribute, relationshipToOrdinaries); 
    externalName = BaseEntity; 
    fetchSpecificationDictionary = {}; 
    name = AugmentedEntity; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = OrdinaryEntity; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = partialID; sourceAttribute = id; }); 
            name = relationshipToOrdinaries; 
        }
    ); 
    userInfo = {"_EntityModeler" = {partialEntity = BaseEntity; }; }; 
}
