{
    attributes = (
        {allowsNull = Y; columnName = bar; name = bar; prototypeName = shortString; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {allowsNull = Y; columnName = type; name = type; prototypeName = intNumber; }
    ); 
    attributesUsedForLocking = (id); 
    className = "com.wounit.model.SubFooEntity"; 
    classProperties = (bar, type); 
    externalName = "foo_entity"; 
    fetchSpecificationDictionary = {}; 
    name = SubFooEntity; 
    parent = FooEntity; 
    primaryKeyAttributes = (id); 
    restrictingQualifier = "type = 2"; 
}
